body{
    background-color: rgb(68, 7, 7);
}
.container{
    width: 40%;
    height: 70vh;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}
.container h1{
    color: #fff;
}
input{
    border: 1px solid rgb(6, 63, 63);
    padding: 9px;
    width: 50%;
    outline: none;
    background: transparent;
    color: #fff;
    border-radius: 5px;
}
button{
    padding: 9px;
    width: 10%;
    border: 1px solid rgb(6, 63, 63);
    background-color: rgb(6, 63, 63);
    color: white;
    border-radius: 5px;
}
.text ul{
    position: relative;
    background-color: rgb(6, 63, 63);
    width: 60%;
    margin: auto;
    padding: 7px;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    color: #fff;
}
.text ul i{
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}